@media (min-width:999px){
    #as_navbar{
        .as_navbar-menu{padding: 5vh 5vw;}
        .as_navbar-menu.bg{padding: 0 5vw;}
        &_bars,&_mobile,&_close{
            display: none;
        }
        &_desktop{
            @include flexbox;
        }
    }
}

@media (min-width:759px){
    #as_grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    // app
    #as_app{
        ul{
            top: 0;
            left: 0;
            width: 60px;
            padding: 5px;
            min-height: 100vh;
            justify-content: flex-start;
            flex-direction: column;
            border-radius: 0;
            a span{
                top: auto;
                left: calc(100% + 20px);
                &::before{
                    left: -5px;
                    top: 50%;
                    transform: translate(0%,-50%) rotate(45deg);
                }
            }
        }
        section{
            padding-left: 70px;
        }
    }

    // errors
    .as_error{
        flex-direction: row;
        justify-content: space-around;
        img{
            width: 40vw;
        }
        .text{
            margin-top: 0;
            text-align: left;
        }
        .btn{
            justify-content: flex-start;
        }
    }
}


@media (min-width:1025px){
    #as_grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}