header{
    min-height: 100vh;
    display: grid;
    place-items: center;
    // background:linear-gradient(transparent, #00000080), url("https://imgcomfort.com/Userfiles/Upload/images/illustration-geiranger.jpg") center/cover;

    // #as_grid{
    //     height: 20vh;
    //     .box{
    //         background: #38b8d0;
    //     }
    // }

    .as_anime{
        background: #005775;
        color: #fff;
    }
}

